beautifulsoup4
lxml
nltk
numpy
openai
opencv_python
pytimeparse
publicsuffix2
pytesseract
requests
selenium
webdriver_manager
whois
sentence-transformers
python-whois
pytesseract
nltk
Pillow 
imagehash
python-nmap
